<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QLBHEntities" connectionString="metadata=res://*/Model.database.csdl|res://*/Model.database.ssdl|res://*/Model.database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6BG7UNR;initial catalog=QLBH;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>