<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Quan_Ly_Ban_Hang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="QLBHEntities" connectionString="metadata=res://*/Model.database.csdl|res://*/Model.database.ssdl|res://*/Model.database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GESH74J;initial catalog=QLBH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="QLBHEntities" connectionString="metadata=res://*/Model.database.csdl|res://*/Model.database.ssdl|res://*/Model.database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLBH;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Quan_Ly_Ban_Hang.Properties.Settings>
      <setting name="TaiKhoan" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="MatKhau" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="MaNhanVien" serializeAs="String">
        <value>""</value>
      </setting>
      <setting name="GhiNho" serializeAs="String">
        <value>False</value>
      </setting>
    </Quan_Ly_Ban_Hang.Properties.Settings>
  </userSettings>
</configuration>